---
interface Props {
    value?: string,
    min?: string,
    max?: string,
    id?: string,
    className?: string,
    slot?: string,
    style?: string
}

const { value, min, max, id, className, style, slot } = Astro.props
---

<div class:list={["container md-motion-easing-emphasized md-motion-duration-short4 md-shape-corner-extra-small", className]} id={id} style={style} slot={slot}>
    <div class="input">
        <input type="date" id="text-input" class="md-typescale-body-large md-motion-easing-emphasized md-motion-duration-short4" required value={value} min={min} max={max} />
        <label class="label-text md-typescale-body-large md-motion-easing-emphasized md-motion-duration-short4" for="text-input">Date</label>
    </div>
</div>

<style>
    .container {
        height: 56px;
        box-sizing: border-box;
        padding: 8px 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: fit-content;
        position: relative;
        border: 1px solid var(--md-color-outline);
        background: none;
    }

    .input {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .label-text {
        color: var(--md-color-on-surface-variant);
        cursor: text;
        position: absolute;
        top: -16px;
        left: 12px;
        background: var(--md-color-surface-variant);
        width: fit-content;
        padding: 4px;
        height: fit-content;
        font-size: 12pt;
        line-height: 16pt;
    }

    input {
        color: var(--md-color-on-surface);
        caret-color: var(--md-color-primary);
        height: 100%;
        background: none;
        border: none;
        padding: 0;
        width: 100%;
        order: 1;
    }

    input:focus, input:valid {
        outline: none;
    }

    .container:focus-within {
        border: 2px solid var(--md-color-primary);
    }

    .container:focus-within .input .label-text {
        color: var(--md-color-primary);
    }

    input::-webkit-calendar-picker-indicator {
        display: none;
    }

    * {
        margin: 0;
    }
</style>